body {
  background-image: url(img/Africa.jpg);
  background-size: cover;
}


.box-one{
  text-align: center;
  color: black;
  border: 5px solid black;
  padding: 10px;
  background: rgba(255, 255, 255, .7);
}
